/* Login Page Styles - Only for login section */
#loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0dfdf;
  /* background: url('https://img.freepik.com/free-vector/leaves-pattern-white-background-design_1017-36619.jpg?semt=ais_hybrid&w=740') no-repeat center center fixed; */
  background: url('Images//background_img_3.jpg');
  overflow: hidden;
}

#loginSection .login-form {
  background: rgba(203, 226, 221, 0.786);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: left;
}

#loginSection .form-group {
  margin-bottom: 20px;
}

#loginSection .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

#loginSection .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#loginSection .btn-login {
  width: 100%;
  padding: 12px;
  background-color: #03631c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#loginSection .btn-login:hover {
  background-color: #0056b3;
}

#loginSection .error-message {
  color: red;
  text-align: left;
  margin-top: 10px;
  display: none;
}

#loginSection .login-tree-image {
  display: block;
  margin: 0 auto 15px auto;
  width: 100px;
  height: auto;
}
