ul.tree, ul.tree ul {
  list-style-type: none;
  padding-left: 1rem;
  position: relative;
}

ul.tree li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  border-left: 1px solid #ccc;
  height: 100%;
}
ul.tree li {
  margin: .3rem 0;
  position: relative;
  padding-left: .8rem;
}
ul.tree li span {
  cursor: pointer;
  user-select: none;
}
.caret::before {
  content: "▶";
  display: inline-block;
  margin-right: .3rem;
  transform: rotate(0deg);
  transition: transform 0.2s;
}
.caret-down::before { transform: rotate(90deg); }
.nested { display: none; }
.active { display: block; }

/* Center topContent horizontally when body has class list-view */
body.list-view #topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Add padding-top to body.list-view to preserve initial vertical spacing */
body.list-view {
  /* background: url('https://img.freepik.com/free-vector/leaves-pattern-white-background-design_1017-36619.jpg?semt=ais_hybrid&w=740') no-repeat center center fixed; */
  background: url('Images//background_img_1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 50px 10px 10px 10px;
  min-height: 100vh;
  width: 100%;
}
h2 { margin: 20px; font-size: 1.5em; }